.hidden-img {
    position: absolute;
    transform: translateY(-100%);
    pointer-events: none;
    
    max-height: 25rem;
}

.categorie-img {
    cursor: pointer;
}

/* CONFIGURATOR CONTAINER */


#configurator-container h1 {
    color: rgb(102, 57, 183);
}

#configurator-container {
    background-color: rgba(255, 255, 255, 0.8);
    min-height: 100vh;
    padding-top: 5rem;
}

#configurator-container h6 {
    color: rgb(102, 57, 183);
    font-weight: bold;
}

/* PRODUCT DESING CONTAINER */

.product-design-contrainer p {
    margin-bottom: .5rem;
    color: white !important;
}

.product-design-contrainer a:not(.btn) {
    margin-bottom: .5rem;
    color: white;
}

.product-design-contrainer a:hover:not(.btn) {
    color: bisque;
}

/* RESPONSE CONTAINER */

#response-container label {
    color: rgb(102, 57, 183);
}

#response-container input {
    color: rgb(102, 57, 183);
}

#response-container span {
    color: rgb(102, 57, 183);
}

#response-container tr {
    color: rgb(102, 57, 183);
}

#response-container td {
    color: rgb(102, 57, 183);
}

#response-container .value {
    border: 0.5px solid rgb(102, 57, 183);
    border-radius: 4px;

    background: white;

    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    padding-right: 0.3rem;
    padding-left: 0.3rem;
}