/*#header {
    background-image: url(../images/210520-8899-HDF-paR.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    width: 100%;
    height: 50vh;
}*/

#lang-right-position-container {
    display: flex; 
    justify-content: flex-end;
}

#lang-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    
}

.lang-item {
    color: rgb(102, 57, 183);
    font-size: 9pt;
}

#logo-OAI {
    max-width: 5rem;
    position: absolute;
    top: 5rem;
    left: 0.5rem;
}

/* sm */
@media only screen and (min-width:576px) {
    #logo-OAI {
       left: 6rem;
       max-width: 5rem;
    }
}

/* msm */
@media only screen and (min-width:660px) {
    #logo-OAI {
       left: 7rem;
    }
}

/* md */
@media only screen and (min-width:768px) {
    #logo-OAI {
       left: 8.5rem;
       max-width: 7.5rem;
    }
}

/* lg */
@media only screen and (min-width:1200px) {
    #logo-OAI {
       left: 9.5rem;
        max-width: 8rem;
    }

    .hidden-img {
        max-height: 35rem;
    }
}

/* lg+ */
@media only screen and (min-width:1650px) {
    #logo-OAI {
       left: 20rem;
        max-width: 8rem;
    }
}

#maybe-later-link {
    color: rgba(101, 57, 183, 0.637);
}

#display-install-app-button {
    position: absolute; 
    top: 1rem; 
    left: 2rem
}


.hidden-img {
    position: absolute;
    transform: translateY(-100%);
    pointer-events: none;

    border: solid 5px #ffffff4f;
    background-color: #ffffff4f;
    
    max-height: 25rem;
}

/* lg */
@media only screen and (min-width:1200px) {

    .hidden-img {
        max-height: 33rem;
    }
}

#display-install-app-button:hover {
    background-color: rgba(255, 255, 255, 0.8);
}

.bottom-text {
    margin-bottom: 0rem !important; 
    color: #6639b7;
}

#separator {
    margin-top: .25rem !important; 
    margin-bottom: .25rem !important; 
    color: #6639b7;
    height: 2px;
}

#contact-container {
    background-color: rgba(255, 255, 255, 0.8);
}

#contact-container a:hover {
    color: #8649f7;
}