.categorie-img {
    cursor: pointer;
}

input {
    font-size: 11pt;
}

/* CONFIGURATOR CONTAINER */


#configurator-container h1 {
    color: rgb(207, 138, 12);
}

#configurator-container {
    background-color: rgba(255, 255, 255, 0.8);
    min-height: 100vh;
    padding-top: 5rem;
}

#configurator-container h6 {
    color: rgb(207, 138, 12);
    font-weight: bold;
}

/* PRODUCT DESING CONTAINER */

.product-design-contrainer p {
    margin-bottom: .5rem;
    color: white !important;
}

.product-design-contrainer a:not(.btn) {
    margin-bottom: .5rem;
    color: white;
}

.product-design-contrainer a:hover:not(.btn) {
    color: bisque;
}

/* RESPONSE CONTAINER */

#response-container label {
    color: rgb(207, 138, 12);
}

#response-container input {
    color: rgb(207, 138, 12);
}

#response-container span {
    /*color: rgb(207, 138, 12);*/
    color: black;
}

#response-container tr {
    color: rgb(207, 138, 12);
}

#response-container td {
    color: rgb(207, 138, 12);
    
}
#response-container tbody > tr {
    color: black;
}

#response-container tbody > tr > td {
    color: black;
}

#response-container .value {
    border: 0.5px solid rgb(207, 138, 12);
    border-radius: 4px;

    background: white;

    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    padding-right: 0.3rem;
    padding-left: 0.3rem;
}